/* Common Among Charts */
.chart-container {
  flex: 1;
  min-height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-container h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0px;
}
