.container {
  padding: 30px 20px;
  border: 1px solid gray;

  margin-top: 20px;
}

.ticketSearch {
  padding: 5px 20px;
  height: 40px;
  min-width: 150px;
  border: none;
  border-bottom: 1px solid gray;
}

.row {
  display: flex;
  justify-content: space-between;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border-spacing: 5em;
}

td,
th {
  border: none;
  text-align: center;
  padding: 8px;
}

th {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.status {
  width: 100%;
  text-align: center;
  height: 100%;
  padding: 10px 0px;
}
.status.open {
  background-color: #0000ff20;
  color: blue;
  border-radius: 5px;
}

.status.pending {
  background-color: #ffff0050;
  color: brown;
  border-radius: 5px;
}

.status.resolved {
  background-color: #00ff0040;
  color: green;
  border-radius: 5px;
}

.btn-ticket {
  background-color: #155e75;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
}
