.grid-container {
  padding: 20px 0px;
  width: 100%;
  gap: 20px;
}
.search-container {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.grid-search {
  display: block;
  width: 250px;
  padding: 3px 15px;
  border: 1px solid #9e9e9e;
  margin: auto 20px auto auto;
}
.icons {
  color: #9e9e9e;
}

/* customizing grid */
.ag-overlay-wrapper,
.ag-layout-normal,
.ag-overlay-loading-wrapper {
  border: none;
}

.ag-header-row,
.ag-header-row-column {
  border: none;
  border-bottom: 2px solid black;
  font-weight: 700;
}
